In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
import os

Parameter format not correct - "cluster".

In [5]:
# read in tsv file output from mmseqs

clusterDataFile = '../cluster/DB_05.tsv'

############################################################################
cdata = pd.read_csv(clusterDataFile,sep='\t', names=['cluster','id'])
print(cdata)
print(len(cdata.cluster))
print(len(cdata.cluster.unique()) )

            cluster    id
0             AccII     5
1          AchA6III     6
2       M.Ade56712I     7
3      S.Aje13652II    10
4        S.AmaHL49I    11
...             ...   ...
10809    Cginov21II  9185
10810   S.Cho10426I  9186
10811   S.Cho10426I  7104
10812     M.Cje328I  9188
10813     M.Cje328I  1769

[10814 rows x 2 columns]
10814
4235

In [6]:

clusterSet = set(cdata.cluster)
print(len(clusterSet))

4235

In [7]:
# read data 

dataDir = '../data'
csvFile = 'protein_seqs_cleaned_6types.csv'

dataDf = pd.read_csv( os.path.join( dataDir, csvFile ) )

print(dataDf)
print(dataDf.describe())
print(len(dataDf))
print(len(dataDf['RE'].unique()))
RESet = set(dataDf['RE'])

                 RE                        type            site  \
0        M.Aac9709I   Type II methyltransferase            GATC
1          M.AacDam   Type II methyltransferase            GATC
2        M.AalSMS7I  Type III methyltransferase          TGAATC
3       M.AalSMS7II    Type I methyltransferase     AGCNNNNRTCA
4       S.AalSMS7II  Type I specificity subunit     AGCNNNNRTCA
...             ...                         ...             ...
10809       M.ZmoII    Type I methyltransferase  GAAGNNNNNNNTCC
10810       S.ZmoII  Type I specificity subunit  GAAGNNNNNNNTCC
10811   M.Zmo29192I    Type I methyltransferase   ACANNNNNNRTGG
10812   S.Zmo29192I  Type I specificity subunit   ACANNNNNNRTGG
10813  M.Zmo29192II   Type II methyltransferase          GATATC

                                                sequence
0      MPEPAKPATPAKSRPFLKWAGGKYRLMDEINRLLPKRKQCLVEPFV...
1      MPEPAKPATPAKSRPFLKWAGGKYRLMDEINRLLPKRKQCLVEPFV...
2      MSKEKETTENPMEKVQSHDWNKERLEQLKQLMPDLFTNDGALNINE...
3      MAKKTTTKEKSIEESLWDAANKLRGSIEPSEYKHVVLGLIFLKFAS...
4      MQSNYRPIGDYIQLVDERNVDLQVTTLLGLSISKQFIHSVANTVGT...
...                                                  ...
10809  MTAQAQRAALQRKIWDIANDVRGSVDGWDFKQYVLGTLFYRFISEN...
10810  MSAAGFLEKLLDGAEVAWMPLGEIASVQRGSSPRPISKFITSDKNG...
10811  MTGQEQRAALQRKIWDIANDVRGSVDGWDFKQYVLGTLFYRFISEN...
10812  MSAAGFLEKLLDGADVVWVPLGDESFFKIANTARRPVKASLRAAGE...
10813  MPFLPCDITPKAPPIKIQGIKTKVIPLIAKSIQWDGQGCWIEPFLG...

[10814 rows x 4 columns]
                RE                       type   site  \
count        10814                      10814  10814
unique       10814                          6   3310
top     M.Aac9709I  Type II methyltransferase   GATC
freq             1                       3275    371

                                                 sequence
count                                               10814
unique                                              10814
top     MPEPAKPATPAKSRPFLKWAGGKYRLMDEINRLLPKRKQCLVEPFV...
freq                                                    1
10814
10814

In [8]:
nameInSet = dataDf['RE'].map( lambda x: x in clusterSet )

In [24]:
# note: clustering was done on psc6 data, with 10814 sequences.
# all cluster names should be present in psc6 data 
# why only 4204 names?
print(np.array(nameInSet).sum())
print(len(clusterSet))
namesPresent = set(dataDf['RE'][nameInSet])

4204
4235

In [28]:
print(clusterSet.difference(namesPresent))

{'Mbo26II', 'BspD6I', 'ScoDS2II', 'Hso63368II', 'BsrDI', 'Bpu10I', 'Mtu2279II', 'MtuBlII', 'BfaI', 'Sma10498III', 'Maf25II', 'Hso63250IV', 'Hsi33800V', 'BtsI', 'BbvCI', 'M.EaeI', 'M.Adh6U21I', 'Spn475V', 'BslI', 'Sma325I', 'Pba2294I', 'BseYI', 'M.EcoHK31I', 'Ljo11533II', 'Avi249I', 'Csp2014I', 'M.Apa1591II', 'HpyAXVIII', 'M.AquI', 'M.AgsI', 'S.Maf25I'}

In [31]:
dataDf[ dataDf.RE == 'Mbo26II']

Empty DataFrame
Columns: [RE, type, site, sequence]
Index: []

In [11]:
# create a dataframe containing entries for representative enzymes
repDf = dataDf[ nameInSet ]

In [13]:
repDf

,RE,type,site,sequence
2,M.AalSMS7I,Type III methyltransferase,TGAATC,MSKEKETTENPMEKVQSHDWNKERLEQLKQLMPDLFTNDGALNINE...
4,S.AalSMS7II,Type I specificity subunit,AGCNNNNRTCA,MQSNYRPIGDYIQLVDERNVDLQVTTLLGLSISKQFIHSVANTVGT...
5,M.AalSMS7III,Type I methyltransferase,GAGNNNNNNNGTG,MANVGAVISSIRNIMRQDRGISGDAQRLEQLGWMLFLKIMDDKDQE...
6,S.AalSMS7III,Type I specificity subunit,GAGNNNNNNNGTG,MAKEYLIGDFLKRIKRPIQLIDDQEYKLVTIKMNHNGVVLREHKKG...
9,S.AalSMS7IV,Type I specificity subunit,TCCNNNNNTTCC,MEEIMEKAVSELKLDKSRWSLTKFGNVAIQQKQSVDRDISELTRYV...
...,...,...,...,...
10800,M.Yre11966III,Type II methyltransferase,TGGCCA,MFYSPLRYPGGKSKLTAYVLEIIKLNTLEGGTYVEPFAGGCAIAWY...
10805,S.ZalSM2I,Type I specificity subunit,GAGNNNNNNNTTCC,MSKTDGTINATPQSSHSREGGNLELPTGWRITSLGEICDINPKSKL...
10807,M.ZmoI,Type I methyltransferase,CAGNNNNCTG,MSAEFSEFVLFSEEEIRALDARVTLRESRGKQVPYVTCLVRDKEVQ...
10808,S.ZmoI,Type I specificity subunit,CAGNNNNCTG,MKGLDANVGTAREIETVQRFDAEYFRRAYVTCEEAVTQSGRSIRLR...
10812,S.Zmo29192I,Type I specificity subunit,ACANNNNNNRTGG,MSAAGFLEKLLDGADVVWVPLGDESFFKIANTARRPVKASLRAAGE...

In [16]:
len(repDf.RE.unique())

4204

In [18]:
# save it here
# output file names --- 'None' if not saving reformated data

combinedFileOutput =  'protein_seqs_cleaned_6types_reps.csv'
fastaFileName = 'protein_seqs_cleaned_6types_reps.fasta'

if combinedFileOutput:
    repDf[['RE', 'type', 'site','sequence' ]].to_csv(combinedFileOutput,index=False)

if fastaFileName:     # ---- Convert to SeqRecord objects ----
    records = []
    for _, row in repDf.iterrows():
        seq = Seq(str(row["sequence"]).strip())
        records.append(
                    SeqRecord(seq, id=str(row["RE"]), description=row.RE+' '+row.site+' '+row.type)
                    )
        
    # ---- Write to FASTA ----
    SeqIO.write(records, fastaFileName, "fasta")

In [ ]:
# now create some selections of sub data bases
# set the min-seq-id
min_seq_id = 0.5

clusterPickFraction = 0.15

#######################################################################

picks = np.random.choice([True, False],numberClusters,p=[clusterPickFraction,1-clusterPickFraction])
remaining = ~picks

pickGroupsSizes = groupCounts[ picks ]
remainingGroupsSizes = groupCounts[ remaining ]

print('\npick groups:\n',pd.Series(pickGroupsSizes).describe())
print('\nremaining groups:\n',pd.Series(remainingGroupsSizes).describe())

In [ ]:
# let take a data set made of representative sequence from each cluster

representativePicks =  groupNames[ picks ]
representativeRemaining = groupNames[ remaining ]

print('\nnumber of sequences:', numberSequences )
print('number of clusters:', numberClusters )
print('number of picked sequences:', len(representativePicks), len(representativePicks)/numberSequences )
print('number of remaining sequences:', len(representativeRemaining), len(representativeRemaining)/numberSequences )

In [ ]:
0.05724061401886443/(0.3343813574995376+0.05724061401886443)

In [ ]:
# now how do I make sure site space is covered?

In [ ]:
# save it here
# output file names --- 'None' if not saving reformated data

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

combinedFileOutput = None # 'protein_seqs_cleaned_6types.csv'
fastaFileName = None #'protein_seqs_cleaned_6types.fasta'

if combinedFileOutput:
    temp[['RE', 'type', 'site','sequence' ]].to_csv(combinedFileOutput,index=False)

if fastaFileName:     # ---- Convert to SeqRecord objects ----
    records = []
    for _, row in temp.iterrows():
        seq = Seq(str(row["sequence"]).strip())
        records.append(
                    SeqRecord(seq, id=str(row["RE"]), description=row.RE+' '+row.site+' '+row.type)
                    )
        
    # ---- Write to FASTA ----
    SeqIO.write(records, fastaFileName, "fasta")