In [1]:
import pandas as pd

In [5]:
ls ../clusterBSP

clusterRes_all_seqs.fasta  clusterRes_rep_seq.fasta  tmp/
clusterRes_cluster.tsv     db/

In [13]:
cdata = pd.read_csv('../clusterBSP/clusterRes_cluster.tsv',names=['cluster','RE'],sep='\t')

In [15]:
cdata

            cluster           RE
0          AchA6III     AchA6III
1          AchA6III    Rmu369III
2          AchA6III        ApyPI
3          AchA6III        CstMI
4          AchA6III    Rde10917I
...             ...          ...
11549  S.Vci12012II    S.PpuS12I
11550  S.Vci12012II    S.PspR76I
11551  S.Vci12012II    S.Msp412I
11552  S.Vci12012II  S.Psp16SW7I
11553  S.Vci12012II    S.Sba460I

[11554 rows x 2 columns]

In [17]:
# number of proteins
len( set(cdata.RE) )

11515

In [19]:
# number of proteins
len( set(cdata.cluster) )

834